# Dashboard

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
from ipywidgets import widgets

import plotly as py
import seaborn as sns
import scipy.stats as stats
from sklearn.linear_model import LinearRegression
import math
import sklearn
import statsmodels.api as sm
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures
import statsmodels.formula.api as smf
from sklearn.pipeline import Pipeline
from IPython.display import Image

from jupyter_dash import JupyterDash
from dash import *
import dash_bootstrap_components as dbc

In [2]:
df = pd.read_csv('../data/superdf_ajay.csv', dtype={'County Code':str})
df

,State,County Code,Opiod_Dispensing_Rate,County,Population,Deaths,Norm_Deaths,State FIPS Code,County FIPS Code,5-digit FIPS Code,...,Male population 18-44 raw value,Male population 45-64 raw value,Male population 65+ raw value,Total male population raw value,Female population 0-17 raw value,Female population 18-44 raw value,Female population 45-64 raw value,Female population 65+ raw value,Total female population raw value,Population growth raw value
0,AL,1001,101.3,"Autauga County, AL",1087149,83,7.6,1,0,1000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AL,1003,67.6,"Baldwin County, AL",3758097,535,14.2,1,1,1001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AL,1005,27.2,"Barbour County, AL",574442,14,2.4,1,3,1003,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AL,1007,21.0,"Bibb County, AL",464942,56,12.0,1,5,1005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL,1009,23.7,"Blount County, AL",1171455,168,14.3,1,7,1007,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2522,WY,56033,33.5,"Sheridan County, WY",598998,61,10.2,47,103,47103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2523,WY,56037,70.0,"Sweetwater County, WY",873221,123,14.1,47,105,47105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2524,WY,56039,54.6,"Teton County, WY",440125,13,3.0,47,107,47107,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2525,WY,56041,59.5,"Uinta County, WY",426347,61,14.3,47,109,47109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2526,WY,56043,46.7,"Washakie County, WY",172114,14,8.1,47,111,47111,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df['county']=df['County Code']
for i in range(len(df)):
    if len(df['County Code'][i])<=4:
        df['county'][i]='0'+df['County Code'][i]
    else:
        df['county'][i]=df['County Code'][i]

C:\Users\ajayk\AppData\Local\Temp/ipykernel_28228/2969708735.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['county'][i]='0'+df['County Code'][i]
C:\Users\ajayk\AppData\Local\Temp/ipykernel_28228/2969708735.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['county'][i]=df['County Code'][i]

In [4]:
file2='../data/1999-2020_Drug_Overdose_By_Category.csv'
df_1 = pd.read_csv(file2, encoding='latin-1')
df_1

,ï»¿Table Names,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,Population,Crude Rate
0,1999-2000.txt,NaN,"Jefferson County, AL",1073,1999,1999,Drug poisonings (overdose) Unintentional (X40-...,D1,25,662845,3.8
1,1999-2000.txt,NaN,"Jefferson County, AL",1073,2000,2000,Drug poisonings (overdose) Unintentional (X40-...,D1,30,662047,4.5
2,1999-2000.txt,NaN,"Jefferson County, AL",1073,2000,2000,Drug poisonings (overdose) Suicide (X60-X64),D2,14,662047,Unreliable
3,1999-2000.txt,NaN,"Jefferson County, AL",1073,2000,2000,All other drug-induced causes,D9,20,662047,3.0
4,1999-2000.txt,NaN,"Mobile County, AL",1097,1999,1999,Drug poisonings (overdose) Unintentional (X40-...,D1,20,399323,5.0
...,...,...,...,...,...,...,...,...,...,...,...
90902,2005-2009.txt,NaN,"Washakie County, WY",56043,2008,2008,All other non-drug and non-alcohol causes,O9,89,8229,1081.5
90903,2005-2009.txt,NaN,"Weston County, WY",56045,2005,2005,All other non-drug and non-alcohol causes,O9,71,6594,1076.7
90904,2005-2009.txt,NaN,"Weston County, WY",56045,2006,2006,All other non-drug and non-alcohol causes,O9,70,6717,1042.1
90905,2005-2009.txt,NaN,"Weston County, WY",56045,2007,2007,All other non-drug and non-alcohol causes,O9,79,7033,1123.3
90906,2005-2009.txt,NaN,"Weston County, WY",56045,2008,2008,All other non-drug and non-alcohol causes,O9,61,7133,855.2

In [5]:
df_1[['County_Name', 'State']] = df_1['County'].str.split(',', 1, expand=True)
df_1

,ï»¿Table Names,Notes,County,County Code,Year,Year Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,Population,Crude Rate,County_Name,State
0,1999-2000.txt,NaN,"Jefferson County, AL",1073,1999,1999,Drug poisonings (overdose) Unintentional (X40-...,D1,25,662845,3.8,Jefferson County,AL
1,1999-2000.txt,NaN,"Jefferson County, AL",1073,2000,2000,Drug poisonings (overdose) Unintentional (X40-...,D1,30,662047,4.5,Jefferson County,AL
2,1999-2000.txt,NaN,"Jefferson County, AL",1073,2000,2000,Drug poisonings (overdose) Suicide (X60-X64),D2,14,662047,Unreliable,Jefferson County,AL
3,1999-2000.txt,NaN,"Jefferson County, AL",1073,2000,2000,All other drug-induced causes,D9,20,662047,3.0,Jefferson County,AL
4,1999-2000.txt,NaN,"Mobile County, AL",1097,1999,1999,Drug poisonings (overdose) Unintentional (X40-...,D1,20,399323,5.0,Mobile County,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90902,2005-2009.txt,NaN,"Washakie County, WY",56043,2008,2008,All other non-drug and non-alcohol causes,O9,89,8229,1081.5,Washakie County,WY
90903,2005-2009.txt,NaN,"Weston County, WY",56045,2005,2005,All other non-drug and non-alcohol causes,O9,71,6594,1076.7,Weston County,WY
90904,2005-2009.txt,NaN,"Weston County, WY",56045,2006,2006,All other non-drug and non-alcohol causes,O9,70,6717,1042.1,Weston County,WY
90905,2005-2009.txt,NaN,"Weston County, WY",56045,2007,2007,All other non-drug and non-alcohol causes,O9,79,7033,1123.3,Weston County,WY
90906,2005-2009.txt,NaN,"Weston County, WY",56045,2008,2008,All other non-drug and non-alcohol causes,O9,61,7133,855.2,Weston County,WY

In [6]:
app=JupyterDash(__name__)

In [7]:
from urllib.request import urlopen
import json
with urlopen('https://raw.githubusercontent.com/plotly/datasets/master/geojson-counties-fips.json') as response:
    counties = json.load(response)
    
app.layout=html.Div([
    html.H1("Opioid Mortality Dashboard", style={'text-align':'center'}),
    html.Br(),
    
    html.Div([
    dcc.Dropdown(id='dropdown1', options=[{'label': 'Select all', 'value': 'all_values'}]+[{'label': x, 'value': x} for x in df.State.unique()], value='all_values', multi=False),
    
    html.Label('Y-axis'),
    
    dcc.RadioItems(id='a',options=[{'label':'Linear','value': 'linear'},{'label':'Log','value': 'log'}],value='linear',labelStyle={'display':'block'}
    )],style={'width': '45%', 'display': 'inline-block'}),
    
    html.Div([
    dcc.Dropdown(id='dropdown2', options=[{'label': x1, 'value': x1} for x1 in list(df.columns)], value='Opiod_Dispensing_Rate', multi=False),    
    
    html.Label('X-axis'),    
    
    dcc.RadioItems(id='b',options=[{'label':'Linear','value': 'linear'},{'label':'Log','value': 'log'}],value='linear',labelStyle={'display':'block'}
    )],style={'width': '45%', 'float': 'right', 'display': 'inline-block'}),    
    
    html.Div([
        html.Label('Graph/Map'),
        dcc.RadioItems(id='c',
                       options=[{'label':'Graph','value': 'Graph'},{'label':'Map','value': 'Map'}],value='Graph',labelStyle={'display':'block'}
    ),
    ]),
    html.Br(),
    html.Div([
    dcc.Graph(id='scatter_plot'),
    ]),
        
    html.H2("Data Table", style={'text-align':'center'}),
    html.Br(),
    
    dash_table.DataTable(
        id='tbl',
        columns=[
            {"name": i, "id": i} for i in df.columns
        ],
        data=df.to_dict('records'),page_current= 0,page_size= 10,
    ),
])

@app.callback(Output('scatter_plot','figure'),
    Input('a','value'),Input('dropdown1', 'value'),Input('b','value'),Input('dropdown2', 'value'),Input('c','value'))
 
def graph(a,dropdown1,b,dropdown2,c):
    df_2=df.copy()
    if dropdown1=='all_values':
        df_2=df_2
    else:
        df_2 = df_2[df_2['State']==dropdown1]
    mv = df_2[f'{dropdown2}'].max()
    if c=='Graph':
        fig =  px.scatter(df_2, x=f"{dropdown2}", y="Norm_Deaths",trendline="rolling",trendline_options=dict(window=5, win_type="gaussian", function_args=dict(std=2)))
        fig.update_layout(margin={'l': 40, 'b': 20, 't': 20, 'r': 100}, hovermode='closest')
        fig.update_xaxes(title=dropdown2,type='linear' if b == 'linear' else 'log')
        fig.update_yaxes(title='Norm_Deaths',type='linear' if a == 'linear' else 'log')
        return fig
    else:
        fig = px.choropleth_mapbox(df_2, geojson=counties, locations='county',color=f'{dropdown2}',
                           color_continuous_scale="Viridis",range_color=(0, mv),mapbox_style="carto-positron",
                           zoom=3, center = {"lat": 37.0902, "lon": -95.7129},labels={'Population':'Population'})
        fig.update_layout(margin={"r":0,"t":0,"l":0,"b":0})
        return fig
        
@app.callback(
    Output('tbl', 'data'),Input('dropdown1', 'value'))
def table(dropdown1):
    if dropdown1=='all_values':
        df_t=df
        dict_df = df_t.to_dict('dict')
        return df_t.to_dict('records')
    else:
        df_t = df[df['State'] == dropdown1]
        dict_df = df_t.to_dict('dict')
        return df_t.to_dict('records')

if __name__=='__main__':
    app.run_server(debug=True)

Dash app running on http://127.0.0.1:8050/

In [8]:
app.run_server(mode='inline')