# Data Science CSC-605 

# Stage I - Data Understanding and Linking

## Create a team notebook to read in the Opioid Mortality data using pandas and display the dataframe in a notebook.

In [1]:
#import the required libraries.
import pandas as pd

In [2]:
#Read Opioid Mortality data File
file2='../data/underlying_cause_of_death.csv'
drug_overdose_req = pd.read_csv(file2)
drug_overdose_req

,Notes,County,County Code,Drug/Alcohol Induced Cause,Drug/Alcohol Induced Cause Code,Deaths,Population,Crude Rate
0,NaN,"Autauga County, AL",1001,Drug poisonings (overdose) Unintentional (X40-...,D1,69,1087149,6.3
1,NaN,"Autauga County, AL",1001,Drug poisonings (overdose) Suicide (X60-X64),D2,14,1087149,Unreliable
2,NaN,"Baldwin County, AL",1003,Drug poisonings (overdose) Unintentional (X40-...,D1,424,3758097,11.3
3,NaN,"Baldwin County, AL",1003,Drug poisonings (overdose) Suicide (X60-X64),D2,71,3758097,1.9
4,NaN,"Baldwin County, AL",1003,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,19,3758097,Unreliable
...,...,...,...,...,...,...,...,...
5536,NaN,"Sweetwater County, WY",56037,Drug poisonings (overdose) Suicide (X60-X64),D2,15,873221,Unreliable
5537,NaN,"Teton County, WY",56039,Drug poisonings (overdose) Unintentional (X40-...,D1,13,440125,Unreliable
5538,NaN,"Uinta County, WY",56041,Drug poisonings (overdose) Unintentional (X40-...,D1,51,426347,12.0
5539,NaN,"Uinta County, WY",56041,Drug poisonings (overdose) Undetermined (Y10-Y14),D4,10,426347,Unreliable
5540,NaN,"Washakie County, WY",56043,Drug poisonings (overdose) Unintentional (X40-...,D1,14,172114,Unreliable

## Preprocessing the Data.
### Calculating the Deaths due to drug overdose

#### Selecting all the cloumns which are required.

In [3]:
#Selecting only the required columns from the dataframe
drug_overdose_df1 = drug_overdose_req[['County', 'County Code', 'Deaths', 'Population']]
drug_overdose_df1

                     County  County Code  Deaths  Population
0        Autauga County, AL         1001      69     1087149
1        Autauga County, AL         1001      14     1087149
2        Baldwin County, AL         1003     424     3758097
3        Baldwin County, AL         1003      71     3758097
4        Baldwin County, AL         1003      19     3758097
...                     ...          ...     ...         ...
5536  Sweetwater County, WY        56037      15      873221
5537       Teton County, WY        56039      13      440125
5538       Uinta County, WY        56041      51      426347
5539       Uinta County, WY        56041      10      426347
5540    Washakie County, WY        56043      14      172114

[5541 rows x 4 columns]

#### GroupBy on County to find ount the deaths in each county due to drug overdose

In [4]:
#groupby on County
drug_overdose_df1 = drug_overdose_df1.groupby(['County', 'County Code', 'Population'], as_index=False).sum()
drug_overdose_df1

                             County  County Code  Population  Deaths
0              Abbeville County, SC        45001      535389      38
1                 Acadia Parish, LA        22001     1279727     237
2               Accomack County, VA        51001      726189      73
3                    Ada County, ID        16001     8083452     988
4                  Adair County, KY        21001      387950      43
...                             ...          ...         ...     ...
2525                Yuba County, CA         6115     1468094     153
2526  Yukon-Koyukuk Census Area, AK         2290      129587      14
2527                Yuma County, AZ         4027     3964172     468
2528              Zapata County, TX        48505      284033      16
2529              Zavala County, TX        48507      247499      16

[2530 rows x 4 columns]

###  Normalize the mortality data by population, i.e. number of deaths per 100,000 population

In [5]:
drug_overdose_df1['Norm_Deaths']= round((drug_overdose_df1['Deaths']/drug_overdose_df1['Population'])*100000,1)
drug_overdose_df1

,County,County Code,Population,Deaths,Norm_Deaths
0,"Abbeville County, SC",45001,535389,38,7.1
1,"Acadia Parish, LA",22001,1279727,237,18.5
2,"Accomack County, VA",51001,726189,73,10.1
3,"Ada County, ID",16001,8083452,988,12.2
4,"Adair County, KY",21001,387950,43,11.1
...,...,...,...,...,...
2525,"Yuba County, CA",6115,1468094,153,10.4
2526,"Yukon-Koyukuk Census Area, AK",2290,129587,14,10.8
2527,"Yuma County, AZ",4027,3964172,468,11.8
2528,"Zapata County, TX",48505,284033,16,5.6
2529,"Zavala County, TX",48507,247499,16,6.5

In [6]:
#saving the super dataframe
drug_overdose_df1.to_csv("../data/drug_overdose_normalized.csv")

### Identify issues with the data

### Underlying Causes of Deaths Dataset
- Notes column have all values as NaN so there is no need of this column
- Crude rate have some entries as unreliable

### Opioid Overdose dataset
- Drug/Alcohol Induced Cause Code is not needed to merge the data and it cannot be used to group the data to get the state level data.

- To make the merge possible we have renamed the FIPS column name to county code to match the column names.
- The first two datasets have the county as a column and dropping the column of county from opioid rate dataset.